.chat-main
  .chat-main__group-info
    .group-info
      .group-info__group-name techcamp
      .group-info__group-member Member : masa
    .group-edit-btn
      %a{"href": "#", "alt": "group-edit-btn"} Edit

  .chat-main__message-list
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .form__contents
        = f.text_field :content, class: 'inputContent', placeholder: 'type a message'
        = f.label :image, class: 'inputImage' do
          = icon('far', 'image')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'form__btn'

    
      
