.side-bar
  .side-bar__user-name
    .top-items
      .top-items__name
        = current_user.name
      %ul.top-items__icons
        %li.top--items__new-chat-group
          = link_to new_group_path, class: "edit-group-icon" do
            = icon('fas', 'edit')
        %li.top--items__edit-account
          = link_to edit_user_path(current_user), class: "edit-account-icon" do
            = icon('fas', 'cog')
  .side-bar__group-list
    - current_user.groups.each do |group|
      .group-container
        = link_to group_messages_path(group) do
          .group-container__group-name
            = group.name
          .group-container__new-message
            = group.show_last_message
           
